<div *ngIf="activeFilter | async as filter">
  <div class="block">
    <nav
      class="isolate flex divide-x divide-gray-200 rounded-lg shadow"
      aria-label="Tabs"
    >
      <button
        (click)="toggleFilter(redditFilter.ALL)"
        data-testid="filter-rising"
        [ngClass]="{
          'active text-gray-900': filter === redditFilter.ALL,
          'text-white hover:text-gray-700': filter !== redditFilter.ALL
        }"
        class="dynamic-text-shadow group relative min-w-0 flex-1 overflow-hidden rounded-tl-lg rounded-tr-lg bg-slate-600 px-1 py-4 text-center text-sm font-bold transition-all hover:bg-slate-700 focus:z-10 sm:px-4 sm:py-4 sm:text-base md:text-lg"
      >
        <span class="text-white">All 🚰</span>
        <span
          [ngClass]="{
            'bg-rose-500': filter === redditFilter.ALL,
            'bg-transparent': filter !== redditFilter.ALL
          }"
          aria-hidden="true"
          class="absolute inset-x-0 bottom-0 h-2 bg-transparent"
        ></span>
      </button>

      <button
        (click)="toggleFilter(redditFilter.HOT)"
        data-testid="filter-hot"
        [ngClass]="{
          'active text-gray-900': filter === redditFilter.HOT,
          'text-white hover:text-gray-700': filter !== redditFilter.HOT
        }"
        class="dynamic-text-shadow group relative min-w-0 flex-1 overflow-hidden bg-slate-600 px-1 py-4 text-center text-sm font-bold transition-all hover:bg-slate-700 focus:z-10 sm:px-4 sm:py-4 sm:text-base md:text-lg"
        aria-current="page"
      >
        <span class="text-white">Hot 🔥</span>
        <span
          aria-hidden="true"
          [ngClass]="{
            'bg-rose-500': filter === redditFilter.HOT,
            'bg-transparent': filter !== redditFilter.HOT
          }"
          class="absolute inset-x-0 bottom-0 h-2 bg-rose-500"
        ></span>
      </button>

      <button
        (click)="toggleFilter(redditFilter.NEW)"
        data-testid="filter-new"
        [ngClass]="{
          'active text-gray-900': filter === redditFilter.NEW,
          'text-white hover:text-gray-700': filter !== redditFilter.NEW
        }"
        class="dynamic-text-shadow group relative min-w-0 flex-1 overflow-hidden bg-slate-600 px-1 py-4 text-center text-sm font-bold transition-all hover:bg-slate-700 focus:z-10 sm:px-4 sm:py-4 sm:text-base md:text-lg"
      >
        <span class="text-white">New ✨</span>
        <span
          [ngClass]="{
            'bg-rose-500': filter === redditFilter.NEW,
            'bg-transparent': filter !== redditFilter.NEW
          }"
          aria-hidden="true"
          class="absolute inset-x-0 bottom-0 h-2"
        ></span>
      </button>

      <button
        (click)="toggleFilter(redditFilter.TOP)"
        data-testid="filter-top"
        [ngClass]="{
          'active text-gray-900': filter === redditFilter.TOP,
          'text-white hover:text-gray-700': filter !== redditFilter.TOP
        }"
        class="dynamic-text-shadow group relative min-w-0 flex-1 overflow-hidden bg-slate-600 px-1 py-4 text-center text-sm font-bold transition-all hover:bg-slate-700 focus:z-10 sm:px-4 sm:py-4 sm:text-base md:text-lg"
      >
        <span class="text-white">Top 🥇</span>
        <span
          [ngClass]="{
            'bg-rose-500': filter === redditFilter.TOP,
            'bg-transparent': filter !== redditFilter.TOP
          }"
          aria-hidden="true"
          class="absolute inset-x-0 bottom-0 h-2"
        ></span>
      </button>

      <button
        (click)="toggleFilter(redditFilter.RISING)"
        data-testid="filter-rising"
        [ngClass]="{
          'active text-gray-900': filter === redditFilter.RISING,
          'text-white hover:text-gray-700': filter !== redditFilter.RISING
        }"
        class="dynamic-text-shadow group relative min-w-0 flex-1 overflow-hidden rounded-tr-lg bg-slate-600 px-1 py-4 text-center text-sm font-bold transition-all hover:bg-slate-700 focus:z-10 sm:px-4 sm:py-4 sm:text-base md:text-lg"
      >
        <span class="text-white">Rising 📈</span>
        <span
          [ngClass]="{
            'bg-rose-500': filter === redditFilter.RISING,
            'bg-transparent': filter !== redditFilter.RISING
          }"
          aria-hidden="true"
          class="absolute inset-x-0 bottom-0 h-2 bg-transparent"
        ></span>
      </button>
    </nav>
  </div>
</div>
<div class="bg-slate-50">
  <div
    [ngClass]="(loading$ | async) ? 'visible' : 'invisible'"
    class="indeterminate-progress-bar relative h-2 overflow-hidden bg-slate-50"
  >
    <div
      class="indeterminate-progress-bar__progress absolute bottom-0 top-0 w-[50%] rounded-lg bg-indigo-700"
    ></div>
  </div>
</div>
