<div *ngIf="activeFilter | async as filter">
  <div class="hidden sm:block">
    <nav
      class="isolate flex divide-x divide-gray-200 rounded-lg shadow"
      aria-label="Tabs"
    >
      <button
        (click)="toggleFilter(redditFilter.HOT)"
        [ngClass]="{
          'text-gray-900': filter === redditFilter.HOT,
          'text-white hover:text-gray-700': filter !== redditFilter.HOT
        }"
        class="transition-all font-fugaz uppercase font-bold text-lg dynamic-text-shadow rounded-tl-lg group relative min-w-0 flex-1 overflow-hidden bg-slate-300 py-4 px-4 text-center hover:bg-slate-400 focus:z-10"
        aria-current="page"
      >
        <span class="text-white">Hot 🔥</span>
        <span
          aria-hidden="true"
          [ngClass]="{
            'bg-rose-500': filter === redditFilter.HOT,
            'bg-transparent': filter !== redditFilter.HOT
          }"
          class="bg-rose-500 absolute inset-x-0 bottom-0 h-0.5"
        ></span>
      </button>

      <button
        (click)="toggleFilter(redditFilter.NEW)"
        [ngClass]="{
          'text-gray-900': filter === redditFilter.NEW,
          'text-white hover:text-gray-700': filter !== redditFilter.NEW
        }"
        class="transition-all font-fugaz uppercase font-bold text-lg dynamic-text-shadow group relative min-w-0 flex-1 overflow-hidden bg-slate-300 py-4 px-4 text-center hover:bg-slate-400 focus:z-10"
      >
        <span class="text-white">New ✨</span>
        <span
          [ngClass]="{
            'bg-rose-500': filter === redditFilter.NEW,
            'bg-transparent': filter !== redditFilter.NEW
          }"
          aria-hidden="true"
          class="absolute inset-x-0 bottom-0 h-0.5"
        ></span>
      </button>

      <button
        (click)="toggleFilter(redditFilter.TOP)"
        [ngClass]="{
          'text-gray-900': filter === redditFilter.TOP,
          'text-white hover:text-gray-700': filter !== redditFilter.TOP
        }"
        class="transition-all font-fugaz uppercase font-bold text-lg dynamic-text-shadow group relative min-w-0 flex-1 overflow-hidden bg-slate-300 py-4 px-4 text-center hover:bg-slate-400 focus:z-10"
      >
        <span class="text-white">Top 🥇</span>
        <span
          [ngClass]="{
            'bg-rose-500': filter === redditFilter.TOP,
            'bg-transparent': filter !== redditFilter.TOP
          }"
          aria-hidden="true"
          class="absolute inset-x-0 bottom-0 h-0.5"
        ></span>
      </button>

      <button
        (click)="toggleFilter(redditFilter.RISING)"
        [ngClass]="{
          'text-gray-900': filter === redditFilter.RISING,
          'text-white hover:text-gray-700': filter !== redditFilter.RISING
        }"
        class="transition-all font-fugaz uppercase font-bold text-lg dynamic-text-shadow group relative min-w-0 flex-1 overflow-hidden rounded-tr-lg bg-slate-300 py-4 px-4 text-center hover:bg-slate-400 focus:z-10"
      >
        <span class="text-white">Rising 📈</span>
        <span
          [ngClass]="{
            'bg-rose-500': filter === redditFilter.RISING,
            'bg-transparent': filter !== redditFilter.RISING
          }"
          aria-hidden="true"
          class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"
        ></span>
      </button>
    </nav>
  </div>
</div>
<div class="bg-slate-50">
  <div
    [ngClass]="(loading$ | async) ? 'visible' : 'invisible'"
    class="indeterminate-progress-bar bg-slate-50 h-1 relative overflow-hidden"
  >
    <div
      class="indeterminate-progress-bar__progress bg-rose-500 rounded-lg absolute bottom-0 top-0 w-[50%]"
    ></div>
  </div>
</div>
