<div class="min-h-full">
  <div class="relative w-full bg-top py-16 sm:py-32">
    <div class="bg-circles">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <header class="flex h-96 items-center py-10">
      <div
        class="mx-auto flex max-w-7xl flex-col items-center justify-center px-4 text-center sm:px-6 lg:px-8"
      >
        <app-navbar></app-navbar>
        <h1
          class="headline relative font-bold text-white"
          data-shadow="reddit gallery"
        >
          reddit gallery
        </h1>
        <p
          class="dynamic-text-shadow max-w-2xl pb-8 pt-4 text-sm font-bold text-white sm:text-base md:text-lg"
        >
          Shows a never-ending stream of media from the Reddit API.
        </p>

        <app-search></app-search>
        <app-safe-mode class="mb-14 py-8"></app-safe-mode>
      </div>
    </header>
  </div>

  <main class="-mt-32">
    <div class="relative mx-auto max-w-7xl pb-12">
      <app-filter></app-filter>
      <div class="rounded-b-lg bg-slate-100 px-5 py-6 shadow sm:px-6">
        <app-search-results></app-search-results>
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
  <footer class="block px-4 text-center text-xs font-medium">
    This application is in no way affiliated with
    <a
      class="text-indigo-700 underline transition-colors hover:text-indigo-500"
      rel="noopener noreferrer"
      href="https://www.reddit.com/"
      target="_blank"
      >Reddit</a
    >. The content displayed is sourced from Reddit's public API and is subject
    to
    <a
      class="text-indigo-700 underline transition-colors hover:text-indigo-500"
      rel="noopener noreferrer"
      href="https://redditinc.com/policies/user-agreement"
      target="_blank"
      >Reddit's terms of service</a
    >.
  </footer>
</div>
