<div class="min-h-full">
  <div class="bg-top relative py-16 sm:py-32 w-full">
    <div class="bg-circles">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <header class="py-10 flex items-center h-96">
      <div
        class="mx-auto text-center flex flex-col items-center justify-center max-w-7xl px-4 sm:px-6 lg:px-8"
      >
        <app-navbar></app-navbar>
        <h1
          class="text-white relative headline font-bold"
          data-shadow="reddit gallery"
        >
          reddit gallery
        </h1>
        <p
          class="text-white dynamic-text-shadow font-bold max-w-2xl py-8 text-sm md:text-lg sm:text-base"
        >
          Shows a never-ending stream of media from the Reddit API.
        </p>

        <app-search></app-search>
        <app-safe-mode class="py-8 mb-14"></app-safe-mode>
      </div>
    </header>
  </div>

  <main class="-mt-32">
    <div class="mx-auto max-w-7xl pb-12 relative">
      <app-filter></app-filter>
      <div class="rounded-b-lg bg-slate-100 px-5 py-6 shadow sm:px-6">
        <app-search-results></app-search-results>
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
  <footer class="block text-xs text-center font-medium">
    This application is in no way affiliated with
    <a
      class="underline text-blue-700 hover:text-blue-500 transition-colors"
      rel="noopener noreferrer"
      href="https://www.reddit.com/"
      target="_blank"
      >Reddit</a
    >. The content displayed is sourced from Reddit's public API and is subject
    to
    <a
      class="underline text-blue-700 hover:text-blue-500 transition-colors"
      rel="noopener noreferrer"
      href="https://redditinc.com/policies/user-agreement"
      target="_blank"
      >Reddit's terms of service</a
    >.
  </footer>
</div>
