<ng-container *ngIf="safeMode$ | async as enabledSafeMode">
  <div class="flex items-center justify-between flex-row text-center gap-2">
    <button
      (click)="
        enabledSafeMode === safeModeSetting.DISABLED
          ? toggleSafeMode(safeModeSetting.ENABLED)
          : toggleAlert()
      "
      [ngClass]="{
        'bg-rose-500 active': enabledSafeMode === safeModeSetting.DISABLED,
        'bg-gray-200': enabledSafeMode === safeModeSetting.ENABLED
      }"
      data-testid="safemode-toggle"
      type="button"
      class="bg-gray-200 relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
      role="switch"
      aria-checked="false"
    >
      <span class="sr-only">Use setting</span>
      <span
        [ngClass]="{
          'translate-x-5': enabledSafeMode === safeModeSetting.DISABLED,
          'translate-x-0': enabledSafeMode === safeModeSetting.ENABLED
        }"
        aria-hidden="true"
        class="pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"
      ></span>
    </button>

    <span class="flex flex-grow">
      <span
        class="text-sm font-bold text-white dynamic-text-shadow"
        id="availability-label"
        >Disable Safe Mode</span
      >
    </span>
  </div>

  <!-- Alert Dialog -->
  <div
    [ngClass]="showAlert ? 'z-20 active' : '-z-10'"
    class="relative"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
    data-testid="safemode-dialog"
  >
    <div
      [ngClass]="showAlert ? 'opacity-100' : 'opacity-0'"
      class="ease-out duration-300 fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    ></div>

    <div class="fixed inset-0 z-10 overflow-y-auto">
      <div
        class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
      >
        <div
          [ngClass]="
            showAlert
              ? 'opacity-100 translate-y-0 sm:scale-100'
              : 'opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95'
          "
          class="translate-y-4 sm:translate-y-0 sm:scale-95 ease-out duration-300 relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6"
        >
          <div class="sm:flex sm:items-start">
            <div
              class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10"
            >
              <svg
                class="h-6 w-6 text-red-600"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
                />
              </svg>
            </div>
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <header
                class="font-bold md:text-lg text-base leading-6 text-gray-900 text-center sm:text-left uppercase"
                id="modal-title"
              >
                You are about to disable safe mode
              </header>
              <div class="mt-2">
                <p class="text-sm text-gray-500">
                  Some Reddit forums have content that is not appropriate for
                  all ages. Disabling safe mode will make it so anything that
                  has been flagged as potentially inappropriate will be
                  displayed. Due to the nature of Reddit, this could include
                  adult content, violence, or other mature themes.
                </p>
              </div>
            </div>
          </div>
          <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
            <button
              type="button"
              data-testid="safemode-enable"
              (click)="toggleSafeMode(safeModeSetting.DISABLED)"
              class="inline-flex w-full justify-center rounded-md border border-transparent bg-red-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
            >
              Understood
            </button>
            <button
              type="button"
              data-testid="safemode-cancel"
              (click)="toggleAlert()"
              class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:w-auto sm:text-sm"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
