<div *ngIf="content" class="pb-[32px] h-[{{ size }}px] block overflow-hidden">
  <div class="h-full w-full rounded-lg bg-slate-200 p-2 pb-14 sm:p-4 sm:pb-14">
    <img
      class="h-full w-full bg-slate-950 object-contain"
      data-testid="media-image"
      [alt]="content.title"
      *ngIf="
        content.preview &&
        content.preview.images.length &&
        content.post_hint === redditPostHint.IMAGE
      "
      [src]="imageSrc"
      (error)="onImageError()"
    />

    <video
      *ngIf="
        content.preview &&
        content.preview.reddit_video_preview &&
        content.post_hint === redditPostHint.LINK
      "
      data-testid="media-video"
      class="mx-auto h-full w-auto bg-slate-950 object-contain"
      autoplay
      loop
      muted
      playsinline
    >
      <source [src]="content.preview.reddit_video_preview.fallback_url" />
    </video>

    <iframe
      class="h-full w-full bg-slate-950"
      data-testid="media-iframe"
      *ngIf="
        content.post_hint === redditPostHint.RICH_VIDEO &&
        content.secure_media_embed
      "
      [src]="content.secure_media_embed.media_domain_url | trustResource"
    ></iframe>

    <div
      class="my-1 max-w-full overflow-hidden truncate text-xs font-medium text-slate-900"
    >
      {{ content.title }}
    </div>
    <div
      class="flex items-center gap-x-1 overflow-visible"
      *ngIf="redditPageType$ | async as activePageType"
    >
      <button
        type="button"
        (click)="
          copyToClipboard(
            activePageType === redditPageType.USER
              ? content.subreddit
              : content.author
          )
        "
        (touchstart)="onTouchStart($event)"
        (touchend)="onTouchEnd($event)"
        aria-label="Copy to clipboard"
        class="animate-press inline-flex items-center rounded border border-indigo-400 bg-transparent px-2.5 py-0.5 text-xs font-medium text-indigo-800 transition-all hover:border-indigo-800 focus:border-indigo-800"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="me-1.5 h-2.5 w-2.5"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
          <path
            d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z"
          />
        </svg>
        {{
          activePageType === redditPageType.USER
            ? 'r/' + content.subreddit
            : 'u/' + content.author
        }}
      </button>

      <a
        href="https://www.reddit.com{{ content.permalink }} "
        target="_blank"
        rel="noopener noreferrer"
        class="animate-press inline-flex items-center rounded border border-indigo-400 bg-transparent px-2.5 py-0.5 text-xs font-medium text-indigo-800 transition-all hover:border-indigo-800 focus:border-indigo-800"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="me-1.5 h-2.5 w-2.5"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M18 3a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-4.724l-4.762 2.857a1 1 0 0 1 -1.508 -.743l-.006 -.114v-2h-1a4 4 0 0 1 -3.995 -3.8l-.005 -.2v-8a4 4 0 0 1 4 -4zm-4 9h-6a1 1 0 0 0 0 2h6a1 1 0 0 0 0 -2m2 -4h-8a1 1 0 1 0 0 2h8a1 1 0 0 0 0 -2"
          />
        </svg>

        {{ content.num_comments | number }}
      </a>

      <span
        *ngIf="content.created_utc"
        class="inline-flex items-center rounded border border-indigo-400 bg-transparent px-2.5 py-0.5 text-xs font-medium text-indigo-800 transition-all hover:border-indigo-800 focus:border-indigo-800"
      >
        <svg
          width="24"
          height="24"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="me-1.5 h-2.5 w-2.5"
        >
          <path
            d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120l0 136c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2 280 120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"
          />
        </svg>
        {{ content.created_utc | relativeTime }}
      </span>
    </div>
  </div>
</div>
