<form
  data-testid="search-form"
  [formGroup]="searchForm"
  (ngSubmit)="onSubmit($event)"
  class="relative z-10"
>
  <div>
    <label for="term" class="sr-only block text-sm font-medium text-gray-700"
      >Search</label
    >
    <div class="mt-1 flex rounded-md shadow-sm">
      <span
        class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-50 px-3 text-gray-500 sm:text-sm"
        >/r/</span
      >
      <input
        type="text"
        name="term"
        data-testid="search-term"
        formControlName="term"
        id="term"
        class="block w-full min-w-0 flex-1 rounded-none rounded-r-md border-gray-300 px-3 py-2 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
        [placeholder]="subRedditName$ | async"
        (keydown)="preventSpace($event)"
      />
    </div>
  </div>

  <button data-testid="search-button" class="button sr-only" type="submit">
    Search
  </button>
</form>
