@tailwind base;
@tailwind components;
@tailwind utilities;

iframe,
img,
video {
  border-radius: 8px;
}

.bg-top {
  background: hsla(230, 40%, 50%, 1);
}

.bg-circles {
  @apply h-full left-0 overflow-hidden absolute top-0 w-full;
}

.bg-circles div {
  @apply bg-white/20 bottom-[-150px] block h-5 list-none absolute w-5;
  animation: animate 25s linear infinite;
}

.bg-circles div:nth-child(1) {
  animation-delay: 0s;
  @apply h-20 left-[25%] w-20;
}

.bg-circles div:nth-child(2) {
  animation-delay: 2s;
  animation-duration: 12s;
  @apply h-5 left-[10%] w-5;
}

.bg-circles div:nth-child(3) {
  animation-delay: 4s;
  @apply h-5 left-[70%] w-5;
}

.bg-circles div:nth-child(4) {
  animation-delay: 0s;
  animation-duration: 18s;
  @apply h-16 left-[40%] w-16;
}

.bg-circles div:nth-child(5) {
  animation-delay: 0s;
  @apply h-5 left-[65%] w-5;
}

.bg-circles div:nth-child(6) {
  animation-delay: 3s;
  @apply h-28 left-[75%] w-28;
}

.bg-circles div:nth-child(7) {
  animation-delay: 7s;
  @apply h-40 left-[35%] w-40;
}

.bg-circles div:nth-child(8) {
  animation-delay: 15s;
  animation-duration: 45s;
  @apply h-6 left-[50%] w-6;
}

.bg-circles div:nth-child(9) {
  animation-delay: 2s;
  animation-duration: 35s;
  @apply h-4 left-[20%] w-4;
}

.bg-circles div:nth-child(10) {
  animation-delay: 0s;
  animation-duration: 11s;
  @apply h-40 left-[85%] w-40;
}

.indeterminate-progress-bar {
  .indeterminate-progress-bar__progress {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: indeterminate-progress-bar;
  }
}

.cdk-virtual-scroll-content-wrapper {
  max-width: 100%;
}

.headline {
  @apply text-white relative font-righteous inline-block text-[clamp(3rem,10vw,9rem)] shadow-[0.03em_0.03em_0_hsla(230,40%,50%,1)];
  z-index: 1;
}

.headline:after {
  @apply absolute top-[0.06em] left-[0.06em] w-full h-full text-transparent z-[-1];
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shard 60s linear infinite;
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    hsla(48, 20%, 90%, 1) 45%,
    hsla(48, 20%, 90%, 1) 55%,
    transparent 0
  );
  background-size: 0.05em 0.05em;
  content: attr(data-shadow);
}

@keyframes shard {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 100% -100%;
  }
}

@keyframes animate {
  0% {
    border-radius: 0;
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }

  100% {
    border-radius: 50%;
    opacity: 0;
    transform: translateY(-1000px) rotate(720deg);
  }
}

@keyframes indeterminate-progress-bar {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}
