@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #d7deff;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.1;
  max-inline-size: 15ch;
}

@media (max-width: 640px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  text-align: end;
}

iframe,
img,
video {
  border-radius: 8px;
}

.dynamic-text-shadow {
  text-shadow: 0.1em 0.1em 0 hsl(200 50% 30%);
}

.bg-top {
  background: hsla(230, 40%, 50%, 1);
}

.circles {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.circles div {
  animation: animate 25s linear infinite;
  background: rgba(255, 255, 255, 0.2);
  bottom: -150px;
  display: block;
  height: 20px;
  list-style: none;
  position: absolute;
  width: 20px;
}

.circles div:nth-child(1) {
  animation-delay: 0s;
  height: 80px;
  left: 25%;
  width: 80px;
}

.circles div:nth-child(2) {
  animation-delay: 2s;
  animation-duration: 12s;
  height: 20px;
  left: 10%;
  width: 20px;
}

.circles div:nth-child(3) {
  animation-delay: 4s;
  height: 20px;
  left: 70%;
  width: 20px;
}

.circles div:nth-child(4) {
  animation-delay: 0s;
  animation-duration: 18s;
  height: 60px;
  left: 40%;
  width: 60px;
}

.circles div:nth-child(5) {
  animation-delay: 0s;
  height: 20px;
  left: 65%;
  width: 20px;
}

.circles div:nth-child(6) {
  animation-delay: 3s;
  height: 110px;
  left: 75%;
  width: 110px;
}

.circles div:nth-child(7) {
  animation-delay: 7s;
  height: 150px;
  left: 35%;
  width: 150px;
}

.circles div:nth-child(8) {
  animation-delay: 15s;
  animation-duration: 45s;
  height: 25px;
  left: 50%;
  width: 25px;
}

.circles div:nth-child(9) {
  animation-delay: 2s;
  animation-duration: 35s;
  height: 15px;
  left: 20%;
  width: 15px;
}

.circles div:nth-child(10) {
  animation-delay: 0s;
  animation-duration: 11s;
  height: 150px;
  left: 85%;
  width: 150px;
}

@keyframes animate {
  0% {
    border-radius: 0;
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }

  100% {
    border-radius: 50%;
    opacity: 0;
    transform: translateY(-1000px) rotate(720deg);
  }
}

.indeterminate-progress-bar {
  .indeterminate-progress-bar__progress {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: indeterminate-progress-bar;
  }
}

@keyframes indeterminate-progress-bar {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.cdk-virtual-scroll-content-wrapper {
  max-width: 100%;
}

.headline {
  color: white;
  display: inline-block;
  font-family: 'Righteous', serif;
  font-size: clamp(3rem, 10vw, 9rem);
  position: relative;
  text-shadow: 0.03em 0.03em 0 hsla(230, 40%, 50%, 1);
  z-index: 1;
}

.headline:after {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shad-anim 60s linear infinite;
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    hsla(48, 20%, 90%, 1) 45%,
    hsla(48, 20%, 90%, 1) 55%,
    transparent 0
  );
  background-size: 0.05em 0.05em;
  content: attr(data-shadow);
  height: 100%;
  left: 0.06em;
  position: absolute;
  text-shadow: none;
  top: 0.06em;
  width: 100%;
  z-index: -1;
  z-index: -1;
}

@keyframes shad-anim {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 100% -100%;
  }
}
